div {
    background-color: rgb(0, 0, 0);
    margin: 10px;
    font-family:Rodondo;
    color: white;
}

.titleText {
    text-align: center;
    size: 40px;
}

@font-face {
  font-family: Rodondo;
  src: url(Rodondo.otf);
  font-weight: bold;
  font-size: 50rem;
}

.photo{
    width: 200px;
    height: 200px;
}